html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  color: #ff0000;
}

.p10 {
  padding: 10px;
}

