html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
}

#top-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

#board-container {
  margin: 0 auto;
  padding: 25px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

